.products .card {
    transition-duration: 0.5s;
}

.products .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f8f9fa;
    transform: scale(1.05);
}

#category .error, #product .error {
    color: #ff4647;
    margin-top: 5px;
}